<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <link rel="stylesheet" href="./css/question.css">
    <link rel="stylesheet" href="./css/footer.css">
    <title>YELLOW BOX</title>
    <link rel="icon" href="./img/favicon.png">
</head>
<!-- 
    차후 유지보수 기간중 시간남을시 Q&A 제작예정


-->


<body>
        <!-- 헤더 -->
        <div class="header_Y">
            <a href="index.html"><img src="./img/mainlogo_4.png" alt=""></a>
            <!-- <button><a href="index.html">홈으로 이동</a></button> -->
        </div>
        <!-- 섹션 -->
        <!-- 섹션 1 -->
        <p class="main_Y">자주 찾는 질문</p>
        <div class="section_Y one_Y">
            <div class="text-zone_Y">
                <div class="section_Y">
                    <div><p class="question_Y"> [안내] 쉽고 편리하게 YELLOW BOX 이용하기 </p></div>
                    <div class="iconBox_S"><ion-icon class="btn_Y" name="caret-down-circle-outline"></ion-icon></div>
                </div>
                <p class="answer_Y">
                   <span>zjqtm96@gmail.com 으로 궁금한 점을 해결해보세요</span><br>
                    <span>자주 찾는 질문 답변들을 한 눈에 빠르게 찾아보실 수 있어 편리하게 이용가능합니다.</span><br>
                </p>
                <div class="section_Y">
                    <div><p class="question_Y"> YELLOW BOX 로그인 방법이 궁금해요 </p></div>
                    <div class="iconBox_S"><ion-icon class="btn_Y" name="caret-down-circle-outline"></ion-icon></div>
                </div>
                <p class="answer_Y">
                    <span>■YELLOW BOX 로그인방법</span><br>
                    <span>1) YELLOW BOX WEB 접속</span><br>
                    <span>2) YELLOW BOX 로그인하기 or 2주 무료이용 버튼 클릭</span><br>
                    <span>3) 계정 선택화면에서 로그인하실 계정 유형 선택</span><br>
                    <span>4) 아이디, 비밀번호 입력 후 '로그인' 버튼 클릭</span><br>
                    <span>혹시 일치하는 회원정보가 없다는 알림 메시지가 나오신다면 아래 사항을 확인하여 주세요.</span><br>
                    <span>지속해서 로그인이 되지 않으시는 경우 1:1 게시판 문의 또는 zjqtm96@gmail.com 으로 문의해 주시면,</span><br>
                    <span>신속하게 가입하신 계정 확인하여 답변드리겠습니다.</span><br>
                </p>
                <div class="section_Y">
                    <div><p class="question_Y"> 정기결제가 궁금해요 </p></div>
                    <div class="iconBox_S"><ion-icon class="btn_Y" name="caret-down-circle-outline"></ion-icon></div>
                </div>
                <p class="answer_Y">
                    <span>정기결제란, 1개월 또는 1년 단위로 정기적으로 자동 결제가 이루어지는 편리한 서비스입니다.</span><br>
                    <span>최초 결제시 등록하신 결제수단을 통해서 서비스를 계속 이용하실 수 있도록 정기적으로 결제가 이루어지기 때문에 </span><br>
                    <span>매월/매년 다시 결제하는 번거로움 없이 지속적으로 YELLOW BOX 서비스를 이용하실 수 있습니다.</span><br>
                    <span>단, 정기결제 이용중 최초 결제시 등록하신 핸드폰/신용카드/네이버페이의 </span><br>
                    <span>결제 정보가 변경될 경우 서비스가 중지될 수 있으니 참고해 주시기 바랍니다.</span>
                </p>
                <div class="section_Y">
                    <div><p class="question_Y"> 사업을 제안하고 싶어요 </p></div>
                    <div class="iconBox_S"><ion-icon class="btn_Y" name="caret-down-circle-outline"></ion-icon></div>
                </div>
                <p class="answer_Y">
                    <span>YELLOW BOX는 함께 나아갈 비지니스 파트너를 찾고 있습니다.</span><br>
                    <span>zjqtm96@gmail.com 사업부로 제안 부탁드립니다. </span><br>
                </p>
        
            </div>
        </div>
    </div>
    <script src="./js/helper.js"></script>
</body>

</html>