<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/global.css">
    <title>YELLOW BOX</title>
    <link rel="icon" href="./img/favicon.png">
</head>
<!-- 수정필요 부분 -->
<!-- 
1. 백그라운드 이미지 넣어야함 *22.07.21 완료
2. 로고 넣어야함 *22.07.21 완료
3. 멘트 수정필요 *22.07.21 완료
4. 로그인, 이용시작 a태그 연동 필요
5. 폰트 미적용

 -->

<body>
    <!-- 오른쪽 박스 4개 -->
    <div class="rightBar_Y">
        <ul id="rightBar_Y">
            <li id="rightFirst_S"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <!-- 헤더 -->
    <div class="header_Y">
        <a href="index.html"><img src="./img/mainlogo_4.png" alt=""></a>

        <div onclick="location.href='signInUp.html'">로그인</div><!--07-22 23:37 최원석 수정 > 07-28 02:56 서승혁 수정--> 

    </div>
    <!-- 섹션 -->

    <!-- 섹션 1 -->
    <div class="section_Y one_Y">
        <div class="text-zone_Y">
            <h1>다양한 장르의 영화, 최신 드라마를 무제한으로</h1>
            <p>매주 5백 여편의 신작이 업데이트 되며, 추가 요금은 전혀 없어요.</p>
            <div onclick="location.href='signInUp.html'">2주 무료 이용 시작</div>
            <p><ion-icon class="uil uil-arrow-circle-down_Y" name="arrow-down-circle-outline"></ion-icon></p>
        </div>
    </div>
    
    <!-- 섹션 2 -->
    <div class="section_Y two_Y">
        <div class="text-zone_Y">
            <h1>여럿이 함께, 하나의 이용권으로</h1>
            <p>동시 4개 기기에서 재생이 가능한 프리미엄 이용권을 이용해보세요.</p>
            <div onclick="location.href='signInUp.html'">2주 무료 이용 시작</div>
            <p><ion-icon class="uil uil-arrow-circle-down_Y" name="arrow-down-circle-outline"></ion-icon></p>
        </div>
    </div>
    
    <!-- 섹션 3 -->
    <div class="section_Y thr_Y">
        <div class="text-zone_Y">
            <h1>이제 TV로 최고의 화질을 경험하세요</h1>
            <p>최대 Ultra HD 4K 해상도로 생생한 감동을 느껴보세요.</p>
            <div onclick="location.href='signInUp.html'">2주 무료 이용 시작</div>
            <p><ion-icon class="uil uil-arrow-circle-down_Y" name="arrow-down-circle-outline"></ion-icon></p>
            
        </div>
    </div>
    <!-- 섹션 4 -->
    <div class="section_Y four_Y">
        <div class="text-zone_Y">
            <h1>이동 중에도 감상을 멈추지 마세요</h1>
            <p>매주 5백 여편의 신작이 업데이트 되며, 추가 요금은 전혀 없어요.</p>
            <div onclick="location.href='signInUp.html'">2주 무료 이용 시작</div>
            <p id="icon_change_Y"><ion-icon class="uil uil-arrow-circle-down_Y" name="arrow-down-circle-outline"></ion-icon></p>
        </div>
    </div>


</body>

<script src="./js/index.js"></script>
</html>