<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yellow Box</title>
    <link rel="stylesheet" href="./css/join_C.css">
    <link rel="stylesheet" href="./css/signUp.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="icon" href="./img/favicon.png">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</head>

<body>
    <div id="container_S">
        <div id="background_S"></div>
        <div id="header_S">
            <div id="headerLogo_S">
                <a href="index.html"><img src="./img/mainlogo_4.png" id="Logo_S"></a>
            </div>
        </div>
        <div id="mainDiv_S">
            <div id="viewDiv_S">
                <span id="signUpText_S">회원가입</span>
                <div class="loginDiv">
                    <form th:action="@{/signUp}" method="post" th:object="${userCreateForm}" id="joinForm">
                    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                        <div class="wrapInput">
                            <input type="username" th:field="*{username}" name="username" id="username" class="formInputs" placeholder="ID" autocomplete="off">
                            <ion-icon name="checkmark-outline" class="checkIcon"></ion-icon>
                            <span id="usernameSpan" class="formSpans"></span>
                            <span id="usernameDupSpan" class="formSpans"></span>
                        </div>
                        <div class="wrapInput">
                            <input type="email" th:field="*{email}" name="email" id="email" class="formInputs" placeholder="Email" autocomplete="off">
                            <ion-icon name="checkmark-outline" class="checkIcon"></ion-icon>
                            <span id="emailSpan" class="formSpans"></span>
                            <span id="emailDupSpan" class="formSpans"></span>
                        </div>
                        <div class="wrapInput">
                            <input type="text" name="nickname" th:field="*{nickname}" id="nickname" class="formInputs" placeholder="Nickname" autocomplete="off">
                            <ion-icon name="checkmark-outline" class="checkIcon"></ion-icon>
                            <span id="nicknameSpan" class="formSpans"></span>
                        </div>
                        <div class="wrapInput">
                            <input type="password" th:field="*{password1}" name="password1" id="password1" class="formInputs" placeholder="문자,숫자 포함 8자 이상 입력." autocomplete="new-password">
                            <ion-icon name="checkmark-outline" class="checkIcon"></ion-icon>
                            <span id="password1Span" class="formSpans"></span>
                        </div>
                        <div class="wrapInput">
                            <input type="password" th:field="*{password2}" name="password2" id="password2" class="formInputs" placeholder="비밀번호 확인" autocomplete="new-password">
                            <ion-icon name="checkmark-outline" class="checkIcon"></ion-icon>
                            <span id="password2Span" class="formSpans"></span>
                        </div>
                        <input type="submit" value="회원가입" id="submit">
                    </form>     
                    
                </div>
              
            </div>
        </div>
        <div id="footer_S">
            <div class="footerContainer_K">
                <div class="textRolling_k">
                    <div class="notice_K">공지사항</div>
                    <div class="noticeSlide_K">
                        <ul>
                            <li class="Slideone_K">YELLOW BOX 제대로 즐기기</li>
                            <li class="Slidetwo_K">YELLOW BOX 제대로 즐기기</li>
                            <!-- <li class="three_K">YELLOW BOX 제대로 즐기기 3</li> -->
                        </ul>
                    </div>
                    <div class="noticeLogo_K">
                        <ion-icon class="logoface_K" name="logo-facebook"></ion-icon>
                        <ion-icon class="logoins_K" name="logo-instagram"></ion-icon>
                        <ion-icon class="logotwi_K" name="logo-twitter"></ion-icon>
                        <ion-icon class="logoyou_K" name="logo-youtube"></ion-icon>
                    </div>
                </div>
                <div class="footerone_K">
                    <ul>
                        <li onclick="location.href='http://www.kreport.co.kr/index.do'">기업정보</li>
                        <li onclick="location.href='https://www.saramin.co.kr/zf_user/auth?url=%2Fzf_user%2F'">인재채용</li>
                        <li onclick="location.href='https://www.saramin.co.kr/zf_user/company-info/view/csn/YWJuOFZST1orZExUbFN4Uy8wdHd1Zz09/company_nm/%EB%A7%81%ED%81%AC%EF%BC%88LINK%EF%BC%89'">서비스 소개</li>
                        <li onclick="location.href='https://policies.google.com/terms?hl=ko'">이용약관</li>
                        <li onclick="location.href='https://myaccount.google.com/privacycheckup'">개인정보 처리방침</li>
                        <li th:onclick="|location.href='@{/help}'|">자주찾는질문</li>
                    </ul>
                </div>
                <div class="footertwo_K">
                    <p>옐로우박스 주식회사 | 대표이사 양광모 | 고객센터 2060-1428 (평일 09:30~18:30 / 점심시간 13:30~14:30 / 주말 및 공휴일 휴무) <br>
                        이메일주소 : kwangmoyang@gmail.com <br>
                        주소 : 서울시 구로구 시흥대로163길 33 2층 <br>
                        사업자등록번호 : 111-22-33333 <br>
                        Copyright© 옐로우박스(주) All rights reserved.</p>
            </div>
        </div>
    </div>
        <div id="footerFilter_S"></div>
    <!-- <script src="./js/join_C.js"></script> -->
    <script src="./js/footer.js"></script>
</body>

</html>