<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YELLOW BOX</title>
    <link rel="icon" href="./img/favicon.png">
    <link rel="stylesheet" href="./css/signInUp.css">
    <link rel="stylesheet" href="./css/footer.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</head>

<body>
    <div id="containe_S">
        <div id="background_S"></div>
        <div id="header_S">
            <div id="headerLogo_S">
                <a href="index.html"><img src="./img/mainlogo_4.png" id="Logo_S"></a>
            </div>
            <div id="headerSignUp_S">
                <div id="signUp_S">
                    <a href="join.html" style="text-decoration: none; color: #292826;"><span>회원가입</span></a>
                    <!--07-22 23:37 최원석 수정-->
                </div>
            </div>
        </div>
        <div id="main_S">
            <div id="mainView_S">
                <div id="viewText_S">반가워요! <br> 계정을 선택해주세요.</div>
                <!-- signIn 페이지 생성 후 링크 연결 예정 -->
                <!-- signIn 페이지 내부에 회원가입으로 연결되는 버튼 링크 예정-->
                <div class="viewStyle_S" id="vsYB_S">
                    <div id="yellowIcon_S"><img src="./img/SYMBOL.png" alt=""></div>
                    <div id="yellowText_S"><span>YELLOW BOX ID로 시작하기</span></div>
                </div>

                <!-- 아래 네개의 버튼은 불필요하므로 각 사이트 OPEN API 사용하지 않는 이상 따로 링크하지는 않을 예정입니다-->
                <!-- 0728 04:20 서승혁 온클릭 링크 추가-->
                <div class="viewStyle_S" id="vsNA_S" onclick="location.href='https://nid.naver.com/nidlogin.login?mode=form&url=https%3A%2F%2Fwww.naver.com'">
                    <div id="naverIcon_S"><img src="./img/iconNaver.svg" alt=""></div>
                    <div id="naverText_S"><span>네이버로 시작하기</span></div>
                </div>
                <div class="viewStyle_S" id="vsKA_S" onclick="location.href='https://accounts.kakao.com/'">
                    <div id="kakaoIcon_S"><img src="./img/iconKakao.svg" alt=""></div>
                    <div id="kakaoText_S"><span>카카오로 시작하기</span></div>
                </div>
                <div class="viewStyle_S" id="vsFB_S" onclick="location.href='https://www.facebook.com/login'">
                    <div id="faceIcon_S"><img src="./img/iconFace.svg" alt=""></div>
                    <div id="faceText_S"><span>페이스북으로 시작하기</span></div>
                </div>
                <div class="viewStyle_S" id="vsAP_S" onclick="location.href='https://appleid.apple.com/sign-in'">
                    <div id="appleIcon_S"><img src="./img/iconApple.svg" alt=""></div>
                    <div id="appleText_S"><span>Apple로 시작하기</span></div>
                </div>
                <!-- helper 페이지 생성 후 링크 연결 예정 -->
                <!-- helper 페이지에 ID찾기, PW찾기, 회원가입 창 구현 예정입니다 -->
                <div id="viewHelp_S">도움이 필요하신가요? &nbsp; <span onclick="location.href='helper.html'"> 자주 찾는 질문</span>
                </div>
            </div>
        </div>
        <div id="footer_S">
            <div class="footerContainer_K">
                <div class="textRolling_k">
                    <div class="notice_K">공지사항</div>
                    <div class="noticeSlide_K">
                        <ul>
                            <li class="Slideone_K">YELLOW BOX 제대로 즐기기</li>
                            <li class="Slidetwo_K">YELLOW BOX 제대로 즐기기</li>
                            <!-- <li class="three_K">YELLOW BOX 제대로 즐기기 3</li> -->
                        </ul>
                    </div>
                    <div class="noticeLogo_K">
                        <ion-icon class="logoface_K" name="logo-facebook"></ion-icon>
                        <ion-icon class="logoins_K" name="logo-instagram"></ion-icon>
                        <ion-icon class="logotwi_K" name="logo-twitter"></ion-icon>
                        <ion-icon class="logoyou_K" name="logo-youtube"></ion-icon>
                    </div>
                </div>
                <div class="footerone_K">
                    <ul>
                        <li onclick="location.href='http://www.kreport.co.kr/index.do'">기업정보</li>
                        <li onclick="location.href='https://www.saramin.co.kr/zf_user/auth?url=%2Fzf_user%2F'">인재채용</li>
                        <li onclick="location.href='https://www.saramin.co.kr/zf_user/company-info/view/csn/YWJuOFZST1orZExUbFN4Uy8wdHd1Zz09/company_nm/%EB%A7%81%ED%81%AC%EF%BC%88LINK%EF%BC%89'">서비스 소개</li>
                        <li onclick="location.href='https://policies.google.com/terms?hl=ko'">이용약관</li>
                        <li onclick="location.href='https://myaccount.google.com/privacycheckup'">개인정보 처리방침</li>
                        <li onclick="location.href='helper.html'">자주찾는질문</li>
                    </ul>
                </div>
                <div class="footertwo_K">
                    <p>옐로우박스 주식회사 | 대표이사 양광모 | 고객센터 2060-1428 (평일 09:30~18:30 / 점심시간 13:30~14:30 / 주말 및 공휴일 휴무) <br>
                        이메일주소 : kwangmoyang@gmail.com <br>
                        주소 : 서울시 구로구 시흥대로163길 33 2층 <br>
                        사업자등록번호 : 111-22-33333 <br>
                        Copyright© 옐로우박스(주) All rights reserved.</p>
                </div>
            </div>
        </div>
        <div id="footerFilter_S"></div>

        <script>
            let test_C = document.querySelectorAll('#vsYB_S');
            for (item of test_C) {
                item.addEventListener('click', function () {
                    console.log(`${this.children[0].innerText} Click`);
                    location.href = 'signIn.html';
                });
            }
        </script>
    <script src="./js/footer.js"></script>

</body>

</html>