<html layout:decorate="~{layout}">
<head>
    <link th:href="@{/css/recommandcss.css}" rel="stylesheet" />
</head>
<body>

	<div id = "recommandmain" layout:fragment="content" class="container_S">
	<a th:href="@{/recommandMain/list/create}" class="btn btn-primary" id = "submit">게시글 등록</a>
		<div class="recommandmain_2">
		<div class = "recommandmain_3">
		<table class="table">
		    <thead class="table-dark">
		        <tr class="text-center">
		            <th>게시물내용</th>
		            <th></th>
		            <th>작성자</th>
		            <th>작성/수정일자</th>
		            
		        </tr>
		    </thead>
		    <tbody> 
		        <tr th:each="recommand : ${recommandList}">
		            <td th:text="${recommand.content}"></td>
		             <td class="my-3">
		            		<a th:href="@{|/recommandMain/modify/${recommand.id}|}" class="btn btn-sm btn-outline-secondary"
		                	sec:authorize="isAuthenticated()"
		               		 th:if="${recommand.author != null and #authentication.getPrincipal().getUsername() == recommand.author.username}"
		               	 	th:text="수정"></a>
		               	 	<a href="javascript:void(0);" th:data-uri="@{|/recommandMain/delete/${recommand.id}|}"
                				class="delete btn btn-sm btn-outline-secondary" sec:authorize="hasRole('USER')"
              				  th:if="${recommand.author != null and #authentication.getPrincipal().getUsername() == recommand.author.username}"
              				  th:text="삭제"></a>
              				 <a href="javascript:void(0);" th:data-uri="@{|/recommandMain/delete/${recommand.id}|}"
                				class="delete btn btn-sm btn-outline-secondary" sec:authorize="hasRole('ADMIN')"
              				  th:text="삭제"></a>
		        	</td>
		        	<td class="centerc"><span th:if="${recommand.author !=null}" th:text="${recommand.author.username}"></span></td>
		        	<td class="centerc">
		        	<p  th:text="${#temporals.format(recommand.createDate, 'yyyy-MM-dd HH:mm')}"></p>
		        	<p  th:text="${#temporals.format(recommand.modifyDate, 'yyyy-MM-dd HH:mm')}"></p>
		        	</td>	        	 
		       
		        </tr>
		    </tbody>
		    
		</table>
		  </div>
		</div>
	</div>
	
</body>

<script layout:fragment="script" type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
</html>