<html layout:decorate="~{layout}">
<head>
    <link th:href="@{/css/recommandcss.css}" rel="stylesheet" />
</head>

<div layout:fragment="content" class="container my-3">




  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
       
       

  	 	<div class="col">
          <div class="card shadow-sm" >
            <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <img th:src="@{/img/미저리.jpg}" id = "imgtest" style="height: 225px;"><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">미저리</text></svg>

            <div class="card-body">
		스티븐 킹의 소설 미저리를 원작으로 한 1990년에 개봉한 영화.
		어 퓨 굿 맨, 해리가 샐리를 만났을 때 my-3, 스탠 바이 미 같은 영화로 알려진 롭 라이너가 감독과 공동 제작을 맡았다. 제작사는 캐슬 록 엔터테인먼트와 넬슨 엔터테인먼트. 배급은 컬럼비아 픽처스.
            
            </div>
          </div>
        </div>   
        
      
  	 	<div class="col">
          <div class="card shadow-sm" >
            <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <img th:src="@{/img/승리호.png}" id = "imgtest" style="height: 225px;'"><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
2021 | 관람등급:12+ | 2시간 16분 | SF 영화
우주에서 쓰레기를 주우며 산다. 꿈은 아득하기만 하다. 2092년, 기댈 곳 없는 낙오자 넷. 그들이 천진한 인간형 로봇을 손에 넣는다. 때가 왔다, 위험한 거래를 개시한다!
주연:송중기,김태리,진선규
            
            </div>
          </div>
        </div>   
        
     
  	 	<div class="col">
          <div class="card shadow-sm" >
            <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <img th:src="@{/img/인터스텔라.jpg}" id = "imgtest" style="height: 225px;"><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">인터스텔라</text></svg>

            <div class="card-body">
인터스텔라는 2014년에 개봉한 미국 영화로 크리스토퍼 놀란 연출, 매튜 매커너히, 앤 해서웨이 주연이다.
점점 황폐해져가는 지구를 대체할 인류의 터전을 찾기 위해 새롭게 발견된 웜홀을 통해 항성 간 우주 여행을 떠나는 탐험가들의 모험이 연대기 순으로 그려진다.

            
            </div>
          </div>
        </div>   
        
      
  	 	<div class="col">
          <div class="card shadow-sm" >
            <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <img th:src="@{/img/세븐.jpg}" id = "imgtest" style="height: 225px;"><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">세븐</text></svg>

            <div class="card-body">
              《세븐》(영어: Se7en/Seven)은 데이비드 핀처 감독이 맡고 앤드루 케빈 워커가 각본한 1995년 미국의 스릴러, 범죄물 영화이다.
            
            </div>
          </div>
        </div>   
        
      
  	 	<div class="col">
          <div class="card shadow-sm" >
            <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <img th:src="@{/img/하울의 움직이는 성.jpg}" id = "imgtest" style="height: 225px;"><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">하울의 움직이는 성</text></svg>

            <div class="card-body">
              스튜디오 지브리의 대표작 중 하나이며 지브리 작품들 중에서는 센과 치히로의 행방불명 다음으로 상업적으로 가장 큰 성공을 거두었다. 2000년대 이후 지브리 작품들 중에서도 센과 치히로의 행방불명과 함께 가장 유명하고 잘 알려진 작품 중 하나
            
            </div>
          </div>
        </div>  
        
        
  	 	<div class="col">
          <div class="card shadow-sm" >
            <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <img th:src="@{/img/토이스토리4.jpg}" id = "imgtest" style="height: 225px;"><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">토이스토리 4</text></svg>

            <div class="card-body">
            장난감의 운명을 거부하고 떠난 새 친구 ‘포키’를 찾기 위해 길 위에 나선 ‘우디’는
우연히 오랜 친구 ‘보핍’을 만나고 그녀를 통해 새로운 세상에 눈을 뜨게 된다.
            감독 : 조시 쿨리 장르 : 애니메이션 / 100 분 등급 : 전체관람가 개봉일 : 2019.06.20
출연진 : 톰 행크스, 애니 팟츠, 조앤 쿠삭, 팀 알렌
            
            </div>
          </div>
        </div>  
       </div>
    </div>
  </div>
  
  

<div>

	<div class="row my-3">
		<div class="col-6">
			   <a th:href="@{/recommandMain/list}" class="btn btn-primary">게시글 탐방</a>
		</div>
	</div>
	

</div>
  
  
</div>

</html>

