<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
<link th:href="@{/css/movie.css}" rel="stylesheet" />
<body>

<div class="movie">
	<div class="movieImg">
		<div class="first">
			<img th:src="@{/img/action1.jpg}">
		</div>
	</div>
	
	
	<div class="review"> <!-- 리뷰 적을곳 -->
		<div class="view">
			<div class="commentview" th:each="mrc2 : ${mrc2List}">
				<td><pre class="pretext" th:text="${mrc2.content}"></pre></td>
				작성자 : <td th:text="${mrc2.author.username}"></td>				
				/ 작성일자 : <td th:text="${#temporals.format(mrc2.createDate, 'yyyy-MM-dd HH:mm')}"></td>
				<td th:if="${mrc2.modifyDate !=null}">
					/수정일자 : <td th:text="${#temporals.format(mrc2.modifyDate, 'yyyy-MM-dd HH:mm')}"></td>
				</td>
				<div>
            		<a th:href="@{|/review/movie2/modify/${mrc2.id}|}" class="btn btn-sm btn-outline-secondary"
	                sec:authorize="isAuthenticated()"
	                th:if="${mrc2.author != null and #authentication.getPrincipal().getUsername() == mrc2.author.username}"
	                th:text="수정"></a>
	                
	                <a href="javascript:void(0);" th:data-uri="@{|/review/movie2/delete/${mrc2.id}|}"
	                class="delete btn btn-sm btn-outline-secondary" sec:authorize="hasRole('USER')"
	                th:if="${mrc2.author != null and #authentication.getPrincipal().getUsername() == mrc2.author.username}"
	                th:text="삭제"></a>
	                <a href="javascript:void(0);" th:data-uri="@{|/review/movie2/delete/${mrc2.id}|}"
	                class="delete btn btn-sm btn-outline-secondary" sec:authorize="hasRole('ADMIN')"
	                th:text="삭제"></a>
       			</div>
       			
  			

			</div>
		</div>
		
		    <form th:action="@{/review/movie2}" th:object="${MrcForm}" method="post">
		    	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<!-- <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            	 <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div></div>-->
       			 
       			
       			
				<div class="commentcreate">
					<div class="col-6">
						<textarea type="text" placeholder="리뷰를 입력하세요" name="content" 
						          id="content" class="form-control" autofocus></textarea>
					</div>
      					<input type="submit" value="등록하기" class="btn btn-primary my-2">
				</div>
			</form>
				
			

	</div>

	</div>
	<div style="margin-left : 20px; margin-top : 20px;">
		<a th:href="@{/review/list}" class="btn btn-primary" id="button">뒤로</a>
	</div>
</div>
</body>
</div>
<script layout:fragment="script" type='text/javascript'>

const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});

</script>
</html>