<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

<head>
<link th:href="@{/css/review.css}" rel="stylesheet" />
</head>

<body>
	<div class="mainImg">
			
		<div class="first">
			<a th:href="@{/review/movie1}">
			<img th:src="@{/img/세븐.jpg}">
			</a>
		</div>
	
		<div class="second">
			<img th:src="@{/img/action1.jpg}">
		</div>
	
		<div class="third">
			<img th:src="@{/img/action3.jpg}">
		</div>
	</div>
	
	<div class="text">
		<h1>해당 이미지를 클릭하시면 리뷰 페이지로 이동됩니다</h1>
	</div>	
		
</body>
</div>
</html>