<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg">
    <div id="container_S">
        <div id="header_P">
            <header>
                <div class="first">
                    <div class="logo_P">
                        <a th:href="@{/main}"><img th:src="@{/img/mainlogo_4.png}" alt="" /></a>
                    </div>                
                    <nav class="menu_P">
                        <ul id="menuin_P">
                            <li class="category_P"><a th:href="@{/main}">공지사항</a></li>
                            <li class="drama_P"><a th:href="@{/main}">개봉 예정 영화</a></li>
                            <li class="drama_P"><a th:href="@{/main}">추천 게시판</a></li>
                            <li class="drama_P"><a th:href="@{/review/list}">리뷰 게시판</a></li>
                            <li class="drama_P"><a th:href="@{/main}">Q&A</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="third">
                    <div class="dropdown_P">
       					<div th:onclick="|location.href='@{/signOut}'|">로그아웃</div>
                    </div>
                </div>
            </header>
        </div>
        
</nav>
<script th:src="@{/js/movielist.js}"></script>
