<html layout:decorate="~{/releasemovie/layout1}">

<div layout:fragment="content" class="container_S">
      <div id="section3_K" class="section_K">
                <div class="dramaView_K">
                    <div class="dramaImgDiv_K">
                        <div class="dramaTerritory_K">
                            <div class="poster_K">
                                <img th:src="@{/img/abata.jpg}" alt="" srcset="">
                            </div>
                            <div class="content_K">
                                <h1>아바타 : 물의 길</h1>
                                <p>영화ㆍ액션ㆍ모험ㆍSFㆍ스릴러 &nbsp; | &nbsp; <span>12세 관람가</span></p>
                                <p>아바타: 물의 길은 판도라 행성에서 '제이크 설리'와 '네이티리'가 이룬 가족이 겪게 되는 무자비한 위협과 살아남기 위해 떠나야 하는 긴 여정과 전투, 그리고 견뎌내야 할 상처에 대한 이야기를 그렸다.
                                <br> 월드와이드 역대 흥행 순위 1위를 기록한 전편 아바타에 이어 제임스 카메론 감독이 13년만에 선보이는 영화로
                                <br>샘 워싱턴, 조 샐다나, 시고니 위버, 스티븐 랭, 케이트 윈슬렛이 출연하고 존 랜도가 프로듀싱을 맡았다.
                                </p>
                                <p>런닝타임 : 192분</p>
                                <p>개봉 날짜 : 2022.12.14</p>
                                <p class="same_K">감독 : 제임슨 카메론</p>
                                <p class="same_K">출연진 : 조 샐다나ㆍ샘 워싱턴ㆍ시고니 위버ㆍ우나 채플린ㆍ지오바니 리비시ㆍ스티븐 랭ㆍ클리프 커티스ㆍ조엘 무어ㆍ맷 제랄드</p>
                            </div>
                        </div>
                        <div class="dramaTerritory_K">
                            <div class="poster_K">
                                <img th:src="@{/img/hansin.jpg}" alt="" srcset="">
                            </div>
                             <div class="content_K">
                                <h1>한신 : 용의 출현</h1>
                                <p>영화ㆍ액션ㆍ드라마 &nbsp; | &nbsp; <span>12세 관람가</span></p>
                                <p>1592년 4월, 조선은 임진왜란 발발 후 단 15일 만에 왜군에 한양을 빼앗기며 절체절명의 위기에 놓인다. 
                                <br>조선을 단숨에 점령한 왜군은 명나라로 향하는 야망을 꿈꾸며 대규모 병역을 부산포로 집결시킨다. 
                                	한편, 이순신 장군은 연이은 전쟁의 패배와 선조마저 의주로 파천하며 수세에 몰린 상황에서도 조선을 구하기 위해 전술을 고민하며 출전을 준비한다. 
								왜군은 연승에 힘입어 그 우세로 한산도 앞바다로 향하고, 이순신 장군은 조선의 운명을 가를 전투를 위해 필사의 전략을 준비한다. 1592년 여름, 음력 7월 8일 한산도 앞바다, 압도적인 승리가 필요한 조선의 운명을 건 지상 최고의 해전이 펼쳐진다.
                                </p>
                                <p>런닝타임 : 129분</p>
                                <p>개봉 날짜 : 2022.07.27</p>
                                <p class="same_K">감독 : 김한민</p>
                                <p class="same_K">출연진 : 박해일ㆍ변요한ㆍ안성기ㆍ손현주ㆍ김성규ㆍ김성균ㆍ김향기ㆍ택연ㆍ공명</p>
                            </div>
                        </div>
                        <div class="dramaTerritory_K">
                            <div class="poster_K">
                                <img th:src="@{/img/action5.jpg}" alt="" srcset="">
                            </div>
                            <div class="content_K">
                                <h1>모가디슈</h1>
                                <p>영화ㆍ액션 &nbsp; | &nbsp; <span>전체 관람가</span></p>
                                <p>내전으로 고립된 낯선 도시, 모가디슈 지금부터 우리의 목표는 오로지 생존이다! 대한민국이 UN가입을 위해 동분서주하던 시기 1991년 소말리아의 수도 모가디슈에서는 일촉즉발의 내전이 일어난다. 
                                <br>통신마저 끊긴 그 곳에 고립된 대한민국 대사관의 직원과 가족들은 총알과 포탄이 빗발치는 가운데, 살아남기 위해 하루하루를 버텨낸다. 그러던 어느 날 밤, 북한 대사관의 일행들이 도움을 요청하며 문을 두드리는데… 
                                <br>목표는 하나, 모가디슈에서 탈출해야 한다!
                                </p>
                                <p>런닝타임 : 121분</p>
                                <p>개봉 날짜 : 2021.07.28</p>
                                <p class="same_K">감독 : 류승완</p>
                                <p class="same_K">출연진 : 김윤석ㆍ조인성ㆍ허준호ㆍ구교환ㆍ김소진ㆍ정만식ㆍ김재화ㆍ박경혜ㆍ윤경호</p>
                            </div>
                        </div>
                        <div class="dramaTerritory_K">
                            <div class="poster_K">
                                <img th:src="@{/img/hejec.jpg}" alt="" srcset="">
                            </div>
                             <div class="content_K">
                                <h1>해적 : 도깨비 깃발</h1>
                                <p>영화ㆍ모험 &nbsp; | &nbsp; <span>전체 관람가</span></p>
                                <p>자칭 고려 제일검인 의적단 두목 ‘무치’(강하늘)와 바다를 평정한 해적선의 주인 ‘해랑’(한효주). 한 배에서 운명을 함께하게 된 이들이지만 산과 바다, 태생부터 상극으로 사사건건 부딪히며 바람 잘 날 없는 항해를 이어간다. 그러던 어느 날, 왜구선을 소탕하던 이들은 흔적도 없이 사라진 왕실의 보물이 어딘가 숨겨져 있다는 사실을 알게 되고 해적 인생에 다시없을 최대 규모의 보물을 찾아 위험천만한 모험에 나서기 시작한다. 
                                <br>하지만 사라진 보물을 노리는 건 이들뿐만이 아니었으니! 원하는 것을 얻기 위해 수단과 방법을 가리지 않는 역적 ‘부흥수’(권상우) 또한 보물을 차지하기 위해 바다에 뛰어드는데...! 해적과 의적, 그리고 역적 사라진 보물! 찾는 자가 주인이다!
                                </p>
                                <p>런닝타임 : 125분</p>
                                <p>개봉 날짜 : 2022.01.26</p>
                                <p class="same_K">감독 : 김정훈</p>
                                <p class="same_K">출연진 : 강하늘ㆍ한효주ㆍ이광수ㆍ권상우ㆍ채수빈ㆍ세훈ㆍ김성오ㆍ박지환ㆍ박훈</p>
                            </div>
                        </div>
                        <div class="dramaTerritory_K">
                            <div class="poster_K">
                                <img th:src="@{/img/comedy5.jpg}" alt="" srcset="">
                            </div>
                            <div class="content_K">
                                <h1>히트맨</h1>
                                <p>영화ㆍ코미디 &nbsp; | &nbsp; <span>15세 관람가</span></p>
                                <p>웹툰 작가가 되고 싶어 국정원을 탈출한 비밀 프로젝트 방패연 출신 전설의 암살요원 '준'. 그러나 현실은 연재하는 작품마다 역대급 악플만 받을 뿐이다. 
                                <br>술김에 그리지 말아야 할 1급 기밀을 그려버리고 예상치 않게 웹툰은 하루아침에 초대박이 나지만, 그로 인해 '준'은 국정원과 테러리스트의 더블 타깃이 되는데... 웹툰 작가가 된 전설의 암살요원, 그의 히트 본능이 깨어난다!
                                </p>
                                <p>런닝타임 : 110분</p>
                                <p>개봉 날짜 : 2020.01.22</p>
                                <p class="same_K">감독 : 최원섭</p>
                                <p class="same_K">출연진 : 권상우ㆍ정준호ㆍ황우슬혜ㆍ이이경ㆍ이지원ㆍ허성태ㆍ조운ㆍ허동원ㆍ이준혁ㆍ이중옥</p>
                            </div>
                        </div>
                          <div class="dramaTerritory_K">
                            <div class="poster_K">
                                <img th:src="@{/img/앵커.jpg}" alt="" srcset="">
                            </div>
                             <div class="content_K">
                                <h1>앵커</h1>
                                <p>영화ㆍ스릴러 &nbsp; | &nbsp; <span>15세 관람가</span></p>
                                <p>생방송 5분 전, 방송국 간판 앵커 ‘세라’(천우희)에게 자신이 살해될 것이라며 죽음을 예고하는 제보전화가 걸려온다. 장난전화로 치부하기에는 찝찝한 마음을 감출 수 없는 ‘세라’. 
                                <br>진짜 앵커가 될 기회라는 엄마 ‘소정’(이혜영)의 말에 ‘세라’는 제보자의 집으로 향하고 제보자인 ‘미소’와 그녀의 딸의 시체를 목격한다. 그날 이후, ‘세라’의 눈앞에 죽은 ‘미소’의 모습이 자꾸만 떠오르기 시작한다. 
                                <br>사건 현장에서 미소의 주치의였던 정신과 의사 ‘인호’(신하균)를 마주하게 되며 그에 대한 ‘세라’의 의심 또한 깊어지는데… 완벽했던 앵커를 뒤흔들 충격적인 진실을 확인하라!</p>
                                <p>런닝타임 : 111분</p>
                                <p>개봉 날짜 : 2022.04.20</p>
                                <p class="same_K">감독 : 정지연</p>
                                <p class="same_K">출연진 : 천우희ㆍ신하균ㆍ이혜영ㆍ차래형ㆍ박지현ㆍ남문철ㆍ임성재ㆍ김영필ㆍ이해운</p>
                            </div>
                        </div>
                          <div class="dramaTerritory_K">
                            <div class="poster_K">
                                <img th:src="@{/img/all.jpg}" alt="" srcset="">
                            </div>
                             <div class="content_K">
                                <h1>올빼미</h1>
                                <p>영화ㆍ스릴러 &nbsp; | &nbsp; <span>15세 관람가</span></p>
                                <p>맹인이지만 뛰어난 침술 실력을 지닌 ‘경수’는 어의 ‘이형익’에게 그 재주를 인정받아 궁으로 들어간다. 그 무렵, 청에 인질로 끌려갔던 ‘소현세자’가 8년 만에 귀국하고, ‘인조’는 아들을 향한 반가움도 잠시 정체 모를 불안감에 휩싸인다. 
                                <br>그러던 어느 밤, 어둠 속에서는 희미하게 볼 수 있는 ‘경수’가 ‘소현세자’의 죽음을 목격하게 되고 진실을 알리려는 찰나 더 큰 비밀과 음모가 드러나며 목숨마저 위태로운 상황에 빠진다. 아들의 죽음 후 ‘인조’의 불안감은 광기로 변하여 폭주하기 시작하고 세자의 죽음을 목격한 ‘경수’로 인해 관련된 인물들의 민낯이 서서히 드러나게 되는데...
                                </p>
                                <p>런닝타임 : 118분</p>
                                <p>개봉 날짜 : 2022.11.23</p>
                                <p class="same_K">감독 : 안태진</p>
                                <p class="same_K">출연진 : 류준열ㆍ유해진ㆍ최무성ㆍ조성하ㆍ박명훈ㆍ김성철ㆍ안은진ㆍ조윤서ㆍ이주원</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          <div id="test">
            <div class="container_S">
				<a th:href="@{/releasemovie/create}" class="btn btn-primary" id="button-color">댓글 등록하기</a>
			</div>
			
        <table class="table">
        <thead class="table-dark">
            <tr class="text-center">
                <th width=55%>댓글</th>                
                <th width=20%>작성자</th>
                <th width=5%></th>                
                <th width=5%></th>                
                <th width=15%>작성일자</th>                
            </tr>
        </thead>
        <tbody class = "content-table">
            <tr th:each="releasemovie, loop : ${paging}" class="text-center">
                <td>
                    <span th:text="${releasemovie.subject}"></span>
                </td>
                <td><span th:text="${releasemovie.author.username}"></span></td>      
                <td>
                <a href="javascript:void(0);" 
                th:data-uri="@{|/modify/${releasemovie.id}|}" 
            	class="btn btn-sm btn-outline-secondary" 
            	sec:authorize="isAuthenticated()"
            	th:if="${releasemovie.author !=null 
            	and #authentication.getPrincipal().getUsername() == releasemovie.author.username}"
            	>수정</a></td>
                <td><a href="javascript:void(0);" 
            	th:data-uri="@{|/releasemovie/releasemovie_list/delete/${releasemovie.id}|}" 
            	class="delete btn btn-sm btn-outline-secondary" 
            	sec:authorize="isAuthenticated()"
            	th:if="${releasemovie.author !=null 
            	and #authentication.getPrincipal().getUsername() == releasemovie.author.username}" 
            	>삭제</a></td>     
                <td th:text="${#temporals.format(releasemovie.createDate, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
        </tbody>
    </table>
    <div th:if="${!paging.isEmpty()}">
    	<ul class="pagination justify-content-center">
    		<li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
    			<a class="page-link" href="javascript:void(0);" 
    			th:data-page="${paging.number-1}">
    				<span> < </span>
    			</a>
    		</li>
    		<li th:each="page : ${#numbers.sequence(0, paging.totalPages-1)}"
    			th:if="${page>=paging.number-2 and page <=paging.number+2}"
    			th:classappend="${page == paging.number} ? 'active'"
    			class="page-item">
    			<a th:text="${page}+1" class="page-link" id="page-color"
    			href="javascript:void(0);" th:data-page="${page}"></a>
    		</li>
    		<li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
    			<a class="page-link" href="javascript:void(0);"
    			th:data-page="${paging.number+1}">
    				<span> > </span>
    			</a>
    		</li> 
    	</ul>
     </div>    
   </div>
</div>
     <section th:replace="~{test :: testFragment}"></section>

<script layout:fragment="script" type='text/javascript'>
	const page_elements = document.getElementsByClassName("page-link");
	Array.from(page_elements).forEach(function(element) {
	    element.addEventListener('click', function() {
	        document.getElementById('page').value = this.dataset.page;
	        document.getElementById('searchForm').submit();
	    });
	});
	
	const delete_elements = document.getElementsByClassName("delete");
	Array.from(delete_elements).forEach(function(element) {
    	element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
</html>