.mainImgCon_C {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 5px solid black;
}

.mainImgDiv_C {
    display: flex;
    width: 500%;
    height: 100%;
    
}

.mainImgs_C {
    width: 100%;
    height: 100%;
    position: relative;;
}
.mainImgs_C h1{
    background-color: transparent;
    color: white;
}

.mainImg_C{
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: .5s;
}

.mainImgsInner_C{
    position: absolute;
    top: 1rem;
    left: 2rem;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.mainImgsInner_C h1{
    display: inline-block;
    /* background-color: black; */
}

.selectContainer_C{/*섹션2 첫번째*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5%;
    /* border: 1px solid orangered; */
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    background-color: rgb(25, 25, 25);
}

.selectLeft, .selectRight{
    display: inline-block;
    background-color: transparent;
}

#genreSelect_C{
  
    color: var(--colorYellow);
    border: 1px solid white;
    margin-right: 1rem;
    background-color: #292826;
    cursor: pointer;
    border-radius: 6px;
}

#yearSelect_C{
    color: var(--colorYellow);
    border: 1px solid white;
    margin-right: 1rem;
    background-color: #292826;
    cursor: pointer;
    border-radius: 6px;
}

#btnSelect_C{
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
    background-color: transparent;
}

#btnSelect_C:hover{
    color: orangered;
}

#movieContainer_C{/*섹션2 두번째*/
    position: relative;
    width: 100%;
    /* height: 820px; */
    height: 90%; /*메인페이지 높이에 맞추기 위하여 지정 없으면 깨짐*/
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    /* border: 1px solid blueviolet; */
    /* padding:1rem; */
}

.poster_C{
    width: 100%;
    height: 70%;
    border: 3px solid white;
}

#movieContainer_C p{
    margin-bottom: 0.5rem;
    /* font-size: 10px; */
}
#movieContainer_C h4{
    display: none;
}

.movies_C { /*영화 각각 디비전*/
    position: relative;
    /* border: 1px solid rgb(121, 121, 121); */
    font-size: 1rem;
    /* margin-top: 0.3rem;
    margin-right: 0.3rem; */
    
    width: 20%;
    height: 50%;
    color: var(--colorYellow);
    padding: 0.5rem;
    
}

.movies_C p:nth-child(3){
    font-size: 1.4rem;
    color: rgb(123, 123, 123);
}
.movies_C p:nth-child(4){
    font-size: 1.2rem;
    color: white;
}
.movies_C p:nth-child(5){
    color: white;
    font-size: 1rem;
}
/*무비스 호버시 효과줄 디비전*/

.moviesCover_C{
    position: absolute;
    top: 0;
    left: -25%;
    width: 150%;
    height: 70%;
    background-color: #181716b2;
    z-index: 10;
    opacity: 0;
    backdrop-filter: blur(5px);
    color: rgb(204, 204, 204);
    
    transition: .5s;
    padding: 1rem;
    font-size: 1.1rem;
    transform: scaleX(0);

}

.moviesCover_C span{
    color: white;
    background-color: transparent;
}

.movies_C:hover p:nth-child(3){
    transition: .5s;
    color: var(--colorYellow);
}

.movies_C:hover .moviesCover_C{
    opacity: 1;
    transform: scaleX(1);
}

.play_C{
    
    position: absolute;
    bottom: 1rem;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    font-size: 3rem;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
    color: white;
}

.play_C:hover{
    color: rgb(198, 178, 103);
    transform: translateX(-50%) scale(1.5,1.5);
}



#pageBtnContainer_C{ /*섹션2 세번째*/
    display: none;
    /* border: 1px solid orangered; */
    color: white;
    /* margin-top: 1rem; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 5%;
    
}

#pageBtnContainer_C a{
    margin-left: 1rem;
    /* color: white; */
    text-decoration: none;
    cursor: pointer;
    transition: .8s;
    
}

#previewDiv_C{
    width: 460px;
    height: 315px;
    
    position: absolute;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%,-50%);  */
    display: none;
    z-index: 99;

}

#exit_C{
    position: absolute;
    z-index: 3;
    color: white;
    font-size: 30px;
    top: 60px;
    right: 20px;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
}

#exit_C:hover{
    color: crimson;
    transform: scale(1.2,1.2);
}

/* #logoutBtn_C{
    display: inline-block;
    padding: 0.5rem;
    color: rgb(98, 98, 98);
    cursor: pointer;
    transition: .3s;
    border: none;
    outline: none;
    
} */

#manageBtn_C{
    display: inline-block;
    padding: 0.5rem;
    color: rgb(98, 98, 98);
    cursor: pointer;
    transition: .3s;
    display: none;
    border: none;
    outline: none;
    
}

/* #logoutBtn_C:hover{
    color: crimson;
    
} */

#manageBtn_C:hover{ /*관리자만 있는 회원관리 버튼. 기능은 미구현 예정*/
    color: rgb(162, 162, 162);
}

#manageDiv_C{
    display: flex;
    
    
    position: absolute;
    top: 70%;
    right: 0;
    z-index: 99;
    width: 380px;
    height: 0;
    overflow: hidden;
    transition: .3s;
    color: white;
    font-size: 1rem;
    /* background-color: rgb(44, 44, 44); */
    
    
    
}

#manageBtn_C:hover + #manageDiv_C{
    height: 200px;
}

#manageDiv_C:hover{
    height: 200px;
}

#manageDiv_C table{
    width: 100%;
    border-collapse: collapse;
    transition: .3s;
}

#manageDiv_C table,td{
    border-top: 1px solid rgb(176, 176, 176);
    border-bottom: 1px solid rgb(176, 176, 176);
    /* border: 1px solid rgb(176, 176, 176); */
}


#manageDiv_C td:nth-child(3n-2){
    padding: 0;
    color: rgb(255, 255, 255);
    
}
#manageDiv_C td:nth-child(3n-2):hover{
    cursor: pointer;
    color: var(--colorYellow);
    
}
#manageDiv_C td:nth-child(3n-1){
    padding: 0;
    color: rgb(211, 178, 70);
    
}



#loginID_C{/*07-23 최원석 추가*/
    color: rgb(165, 165, 165); 
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

#loginText_C{
    color: white;
    font-size: 1rem;
    
}

#loginAuth_C{
    color: rgb(230, 230, 230);
    font-size: 1.5rem;
    margin-right: 1rem;
}

#loginPayment_C{
    color: white;
    font-size: 1rem;
}

#remainDays_C{
    color: white;
    font-size: 0.8rem;
}

#userDiv_C{
    /* display: none; */
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 99;
    width: 250px;
    transition: .3s;
    padding: 0.3rem;
    background-color: rgb(31, 31, 31);
}

#userDiv_C div{
    background-color: transparent;
}

#userDiv_C span{
    margin-left: 0.5rem;
    background-color: transparent;
}

#userDiv_C span:nth-child(odd){
   font-size: 1rem;
   color: rgb(112, 112, 112);
}

#userDiv_C span:nth-child(even){
    margin-right: 0.5rem;
}

#userDiv_C a{
    background-color: transparent;
}

.chooseOption{
    
    color: white;
    margin-left: 1rem;
    cursor: pointer;
    transition: .3s;
    background-color: transparent;
}

.selectRight span:nth-child(1){
    color: crimson;
}

.ratingCon{
    height: 100%;
    /* border: 1px solid red; */
}
.ratingTop{
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    height: 15%;
    margin: 0.5rem 0;
    background-color: rgb(25, 25, 25);
    /* border: 1px solid violet; */
    color: white;
    display: flex;
    align-items: center;
    font-size: 1rem;
    
}
.ratingBottom{
    height: 80%;
    /* border: 1px solid blue; */
    display: flex;
}
.ratingItem{
    height: 100%;
    width: 20%;
    display: flex;
    
}
.topIcons{
    color: white;
}

.ratingItemLeft{
    overflow: hidden;
    margin-top: 1.5rem;
    width: 35%;
}
.ratingItemRight{
    width: 63%;
    overflow: hidden;
    border: 3px solid white;
}
.ratingImg{
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: .3s;
    
}

.ratingImg:hover{
    transform: scale(1.1,1.1);
}

#divPage_C{
    
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(25, 25, 25);
}

#divPage_C a{
    background-color: transparent;
    font-size: 1.3rem;
}

.numbers{
    font-size: 10rem;
    color: rgb(255, 179, 57);
}

#coupon{
    color: rgb(229, 174, 185);
    cursor: pointer;
    transition: .3s;
    margin-left: 0.5rem;
}
#coupon:hover{
    color: crimson;
}






