
#page-color{
	background-color: gray;
	border-color: gray;
}

#page-color:hover{
	background-color: silver;
}

#table-button-modify{
	background-color: white; 
}

#table-button-modify:hover{
	background-color: silver; 
}

#table-button-delete{
	background-color: white;
}

#table-button-delete:hover{
	background-color: silver;
}

#modify-time{
	font-size: small;
}

.container h5{
	color : white;
}

.container .mb-3 .form-label{
	color : white;
}

.movie-font-size{
	font-size: 50px;
}

.cell{
	vertical-align: middle;
}

