
.movie{
	display:flex;
	justify-content : space-bewteen;
}

.movieImg .first {
	height : 700px;
}

.movie .review {
	margin-left : 15vh;
	height : 700px;
	width : 100%;
	background-color : white;
	overflow : auto;
}

.movie .review .view {	
	width : 100%;
	height : 500px;
	overflow : auto; /* scroll */
	
}

.movie .review .view .commentview{
	border : solid black 1px;
	background-color : #292826;
	color : white;
	margin-bottom : 1vh;
	
}

.movie .review .commentcreate{	
	display : flex;
	justify-content : space-bewteen;
	word-wrap : break-word;
	height : 200px;
}

.movie .review .col-6{
	width :88%;
	overflow : auto;
}

.movie .review .col-6 textarea{
	height : 200px;
}

.movie .review input{
	position : relative;
	bottom : 8px;
	height : 200px;
}