/*1229 김범수 수정*/
#test { /* 게시판 배경 위치 조정*/
	width: 140vh;
    margin: auto;
    padding-top: 2vh;
    
}

#button{/* 버튼 색 조정*/
	margin-bottom: 1vh;
	color:black;
}

#button-color:hover{/* 버튼 색 조정*/
	background-color: yellow;
	border-color: yellow;
}
/*1229수정*/

.cell pre{
	text-align: left;
	margin-left: 8vh;
	padding:10px;
	overflow:auto;
	white-space: normal;
	font-family: 'GmarketSans';
	font-weight: bolder;
	font-size: 15px;
	vertical-align: middle;
	word-break:break-all;
	
}


#page-color:hover{
	background-color: silver;
	border-color: silver;
}

#table-button-modify{
	background-color: white; 
}

#table-button-modify:hover{
	background-color: silver; 
}

#table-button-delete{
	background-color: white;
}

#table-button-delete:hover{
	background-color: silver;
}

#modify-time{
	font-size: small;
}

.container h5{
	color : white;
}

.container .mb-3 .form-label{
	color : white;
}

.movie-font-size{
	font-size: 50px;
}

.cell{
	vertical-align: middle;
}

.content-table{/* 게시판 색깔 조정*/
	background-color: gray;
}


