*{
    margin: 0;
}
/* 07/21 양광모 폰트추가 */
@font-face {
    font-family: 'GmarketSans';
    src: url(../font/GmarketSansTTF/GmarketSansTTFMedium.ttf) format('truetype');
}

:root {
    --border: 3px solid #292826;
    --bg-color: #292826;
    --bg2-color: #F9D142;
    --border-radius : 5px;
    --width: 100%;
    --basic-color : white;
    /* --border-sample: 3px solid red; */
}  

a{
    text-decoration: none;
    color: var(--bg-color);
}
body{
    background-color: var(--bg-color);
    height: 1000px;

}


/* 메뉴바 설정부 */
.header_Y{
    width: var(--width);
    height: 100px;


    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
    /* position: fixed; */
    /* z-index: 100; */
}



/* 헤더 버튼 설정 */
.header_Y>button{
    background-color: var(--bg2-color);
    /* border: 3px solid red; */
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: var(--border-radius);
    margin-right: 40px;
}
.header_Y>a>img{
    width: 200px;
    height: 80px;
    margin-left: 40px;
}




/* 텍스트존 박스 설정 */
.text-zone_Y{
    width: 150vh;
    height: 200px;
    /* text-align: center; */
    line-height: 10vh;

    /* border: 3px solid red; */
    
    color: #F9D142;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
    
}
.main_Y{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-200%);

    z-index: 1000;
    width: 400px;
    height: 100px;
    
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
    /* border: 3px solid red; */
}

.section_Y{
    display: flex;
    justify-content: space-between;
    /* background: linear-gradient(to bottom, rgb(214, 204, 61), rgba(41,40,38, 0)); */
    background-color: var(--bg2-color);
    /* background: linear-gradient(rgba(249,209,66, 1),rgba(249,209,66, 0.5)); */
    margin-top: 20px;
    border-radius: 5px;

}

.answer_Y{
    display: none;
    color: whitesmoke;
    
}

/* 질문 텍스트 조절 */
.section_Y>div>.question_Y{
    color: var(--bg-color);
    
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    line-height: 80px;
}
/* 아이콘 텍스트 조절 */
.section_Y>div>.btn_Y{
    color: var(--bg-color);
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
}
.iconBox_S {
    display: flex;
    align-content: center;
}
.btn_Y{
    transition: .5s;
    width: 2rem;
    height: 2rem;
}
