/* 테마 컬러
-노랑
#F9D142
-검정
#292826 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'GmarketSans';
    src: url(../font/GmarketSansTTF/GmarketSansTTFMedium.ttf) format('truetype');
}

#containe_S {
    width: 100%;
    /* height: 100vh; */
    /* border: 1px solid red; */
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
#background_S {
    position: absolute;
    width: 100%;
    height: 160vh;
    z-index: -1;
    background-image: url("../img/background2_S.jpg");
    background-position: center;
    background-size: cover;
    filter:brightness(0.2);
}
#header_S {
    width: 100%;
    height: 10vh;
    /* border: 1px solid red; */
    grid-area: header;
    display: grid;
    grid-template-areas: 
    "Logo Sign";
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(255,255,255, 0));
}

#headerLogo_S {
    width: 15vw;
    height: 10vh;
    /* border: 1px solid red; */
    display: inline-block;
    grid-area: Logo;
    justify-self: start;
}

#headerSignUp_S {
    width: 10vw;
    height: 10vh;
    /* border: 1px solid blue; */
    display: inline-block;
    grid-area: Sign;
    justify-self: end;
    display: grid;
}
#Logo_S {
    width: 200px;
    height: 80px;
    cursor: pointer;
    margin-left: 3vw;
    margin-top: 1vw;
    /* 클릭시 메인페이지 링크 */
}
/* #signUp_S {
    width: 6vw;
    height: 6vh;
    border: 1px solid red;
    background-color:#F9D142;
    border-radius: 5px;
    place-self: center;
    color: #292826;
    text-align: center;
    line-height: 6vh;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    margin-right: 3vw;
    margin-top: 1vw;
    클릭시 모달창 띄우거나 따로 회원가입 페이지로 이동 예정, 회의때 얘기해보고 결정
    깔끔한 구성을 위해 mainView 부분 하단으로 회원가입 이동 건의 후 수정 예정
} */

#main_S {
    width: 70%;
    height: 120vh;
    /* border: 1px solid red; */
    grid-area: main;
    justify-self: center;
    display: grid;
}

#mainView_S {
    width: 50vw;
    height: 70vh;
    /* border: 1px solid red; */
    /* background-color: rgba(0,0,0, 0.7); */
    justify-self: center;
    display: grid;
    justify-content: center;
    margin-top: 10vh;
}
#viewText_S {
    height: 10vh;
    text-align: center;
    color: #F9D142;
    font-size: 2.2em;
    font-weight: bolder;
    /* border: 1px solid blue; */
    margin-bottom: 5vh;
}

.viewStyle_S {
    width: 35vw;
    height: 8vh;
    border: 0.1px solid gray;
    cursor: pointer;
    color: gray;
    transition: 0.5s;
    line-height: 6vh;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2vh;
    display: grid;
    grid-template-areas: 
    "iconn textt";
}

.viewStyle_S:hover {
    width: 35vw;
    height: 8vh;
    /* margin-bottom: 1vh; */
    cursor: pointer;   
    transform: scale(1.05);
}
#yellowIcon_S {
    width: 5vw;
    height: 8vh;
    grid-area: iconn;
    /* border: 1px solid red; */
    position: absolute;
    justify-items: center;
}
#yellowIcon_S img {
    width: 5vw;
    height: 8vh;
}

#yellowText_S {
    width: 35vw;
    height: 8vh;
    grid-area:textt;
    /* border: 1px solid red; */
    line-height: 8vh;
}

#naverIcon_S {
    width: 5vw;
    height: 8vh;
    grid-area: iconn;
    /* border: 1px solid red; */
    position: absolute;
    justify-items: center;
    
}
#naverIcon_S img {
    margin-top: 2.5vh;
}
#naverText_S {
    width: 35vw;
    height: 8vh;
    grid-area:textt;
    /* border: 1px solid red; */
    line-height: 8vh;
    
}

#kakaoIcon_S {
    width: 5vw;
    height: 8vh;
    grid-area: iconn;
    /* border: 1px solid red; */
    position: absolute;
    justify-items: center;
}
#kakaoIcon_S img {
    margin-top: 2.5vh;
}
#kakaoText_S {
    width: 35vw;
    height: 8vh;
    grid-area:textt;
    /* border: 1px solid red; */
    line-height: 8vh;
}

#faceIcon_S {
    width: 5vw;
    height: 8vh;
    grid-area: iconn;
    /* border: 1px solid red; */
    position: absolute;
    justify-items: center;
}
#faceIcon_S img {
    margin-top: 2.5vh;
}

#faceText_S {
    width: 35vw;
    height: 8vh;
    grid-area:textt;
    /* border: 1px solid red; */
    line-height: 8vh;
}

#appleIcon_S {
    width: 5vw;
    height: 8vh;
    grid-area: iconn;
    /* border: 1px solid red; */
    position: absolute;
    justify-items: center;
}

#appleIcon_S img {
    margin-top: 2.5vh;
}

#appleText_S {
    width: 35vw;
    height: 8vh;
    grid-area:textt;
    /* border: 1px solid red; */
    line-height: 8vh;
}

#vsYB_S:hover {
    border: 0.1vw solid #F9D142;
    color: #F9D142;
}
#vsNA_S:hover {
    border: 0.1vw solid rgb(33, 200, 77);
    color: rgb(33, 200, 77);
}
#vsKA_S:hover {
    border: 0.1vw solid rgb(250, 221, 8);
    color: rgb(250, 221, 8);;
}
#vsFB_S:hover {
    border: 0.1vw solid rgb(23, 93, 238);
    color: rgb(23, 93, 238);
}
#vsAP_S:hover {
    border: 0.1vw solid rgb(195, 195, 199);
    color: rgb(195, 195, 199);
}

#viewHelp_S {
    height: 2vh;
    line-height: 2vh;
    text-align: center;
    color: rgb(93, 93, 93);
    font-size: 1em;
    font-weight: bolder;
    /* border: 1px solid blue; */
    margin-top: 8vh;
}
#viewHelp_S span {
    text-decoration: underline;
    color: gray;
    cursor: pointer;
}

#viewHelp_S span:hover {
    text-decoration: underline;
    color: lightgray;
    cursor: pointer;
}

#footer_S {
    width: 100%;
    height: 30vh;
    /* border: 1px solid red; */
    grid-area: footer;
}

#footerFilter_S {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: grid;
    align-self: end;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255,255,255, 0));
    z-index: -1;
}
